beautifulsoup4
brotlipy==0.7.0
certifi==2020.6.20
cffi
chardet
click==7.1.2
cryptography
cycler==0.10.0
Flask==1.1.2
idna
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver
MarkupSafe
matplotlib
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mpld3==0.5.1
numpy
olefile==0.46
ortools==8.0.8283
pandas
Pillow
protobuf==3.13.0
pycparser
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
pytz==2020.1
requests
six
soupsieve==2.0.1
tornado==6.0.4
urllib3
Werkzeug==1.0.1
