<html>
<head>
<title>Yoder Covid Tracker</title>
</head>
    <link rel="stylesheet" href="{{ url_for('static', filename='covid_style.css') }}">
<body>
    <nav>
        <a id="all" href="{{  url_for('home') }}">Home</a>
        <a id="create" href="{{  url_for('philly') }}">Philly</a>
        <a id="create" href="{{  url_for('somerset') }}">Somerset</a>
    </nav>
	<h1>{% block subtitle %} {% endblock subtitle %}</h1>
	{% block content %} {% endblock content %}
</body>
</html>
